<!-- setup so this is useable by handlebars -->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Eat Da Burger App!</title>
	<link rel="stylesheet" href="/public/assets/css/burger_style.css" type="text/css" />
	<script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
	{{{ body }}}
</body>
<script>
	//ajax code to add a burger
	$(function() {
		$(".create-form").on("submit", function(event) {
			// Make sure to preventDefault on a submit event.
			event.preventDefault();

			let newBurger = {
				burger_name: $("#burger").val().trim(),
				devoured: $("#devoured").val().trim()
			};

			// Send the POST request.
			$.ajax("/api/burgers", {
				type: "POST",
				data: newBurger
			}).then(
				function() {
					console.log("created new burger");
					// Reload the page to get the updated list
					location.reload();
				}
			);
		});

		//    ajax code to update devoured status
		$(".update-form").on("submit", function(event) {
			// Make sure to preventDefault on a submit event.
			event.preventDefault();

			let updatedBurger = {
				burger_name: $("#burger_name").val().trim(),
				devoured: $("#devoured").val().trim()
			};

			let id = $(this).data("id");

			// Send the POST request.
			$.ajax("/api/burgers/" + id, {
				type: "PUT",
				data: updatedBurger
			}).then(
				function() {
					console.log("burger devoured ");
					// Reload the page to get the updated list
					location.assign("/");
				}
			);
		});

	});
</script>

</html>
