<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Eat Da Burger App!</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css"/>
<script src="https://code.jquery.com/jquery.js"></script>

</head>
<!-- Header -->
<div class="w3-container w3-red w3-center" style="padding: 0px">
<div class="w3-quarter w3-left">
  <img src="/assets/img/burgerapp.png" style="margin: 10px">
</div>
<div class="w3-half">
  <h1 class="w3-margin w3-jumbo">Chomp-on-Burgers!!</h1>
  <h2 class="w3-xlarge"><em>A Digi-Gastronomic Experience!</em></h2>
</div>
<div class="w3-quarter w3-right">
  <img src="/assets/img/burgerapp.png" style="margin: 10px">
</div>
</div>

</header>

<body class="w3-amber">
	<!--placeholder for main body html content -->
	{{{ body }}}

	<script type="text/javascript">
		//ajax code to add a burger
		$(function() {
			$(".addBurger").on("submit", function(event) {
				// Make sure to preventDefault on a submit event.
				event.preventDefault();
				let newBurger = {burger_name: $("#newBurger").val().trim(), devoured: 0};
				// Send the POST request.
				console.log("newburger=" + newBurger);
				$.ajax("/", { 
					type: "POST",
					data: newBurger
				}).then(
					function() {
						console.log("created new burger");
						// Reload the page to get the updated list
						location.reload();
					}
				);
			});

			//    ajax code to update devoured status
			$(".change-state").on("click", function(event) {
				// Make sure to preventDefault on a submit event.
				event.preventDefault();
			    let id = $(this).data("id");
    			let newDevoured = $(this).data("devoured");
    			let updatedState = {
     				 devoured: newDevoured
   				 };
				// Send the POST request.
				$.ajax("/" + id, {
					type: "PUT",
					data: updatedState
				}).then(
					function() {
						console.log("burger devoured ");
						// Reload the page to get the updated list
						location.reload();
					}
				);
			});
		});
	</script>
</body>
</html>